<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Hello world</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Hello Thymeleaf </h1>
	<p th:text="'message: ' + ${message} + '!'" />
	<br />
	<div>
		<table border="1">
			<tr>
				<th>Fullname</th>
				<th>Age</th>
			</tr>
			<tr th:each="person : ${persons}">
				<th th:utext="${person.name}"></th>
				<th th:utext="${person.age}"></th>
			</tr>
		</table>
	</div>
</body>

</html>